<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JooHwan Portfolio</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="assets/css/agency.min.css" rel="stylesheet">

  <link href="resources/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#masthead">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#activity">Activity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" id="masthead" style="height: 100vh;">
    <div class="container">
      <div class="intro-text">
        <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
        <div class="intro-heading" style="font-size: 2.8vw;" id="headerMsg">
          
        </div>
        <a class="btn btn-warning btn-xl text-uppercase js-scroll-trigger" href="#skills">Tell Me More</a>
      </div>
    </div>
  </header>

  <!-- About -->
  <section class="page-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About Me</h2>
            <h3 class="section-subheading text-muted" style="margin:75px 0 25px 0; font-size: 24px;">< 여전할 것인가, 역전할 것인가 ></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 " style="font-weight: 700; font-family: Noto Sans KR,sans-serif; font-size: 1vw;">
            "뒤처지지 않으려 하면 뒤처진다. 앞서가려 해야 맞춰갈 수 있다"란 생각으로 개발 경력을 쌓아온 정보관리 기술사 장주환입니다.
            6년간의 군 복무를 마치고 남들에 비해 늦게 시작한 저는 다른 개발자들에 비해 자신할 수 있는 것이 끈기와 체력뿐이라 생각했습니다.
            이러한 마음가짐으로 7년간 개발 업무와 CS 학습을 병행하여 개발 역량과 정보관리기술사란 자격증 취득을 달성할 수 있었습니다.
            저는 인터파크, 큐텐 등 커머스 분야에서 대용량 트래픽 처리 경험과 상품, 전시 도메인에 대한 다양한 경험을 했습니다.
            이 과정에서 동시성 제어, 쿼리 성능 개선과 같은 성과를 낼 수 있었고 최초로 무중단 배포를 도입하여 서비스 다운 타임을 40분 -> 5분으로 단축할 수 있었습니다.
            주요 업무는 Backend API 개발과 RDB 기반의 SQL 쿼리 작성, 인프라는 Kubernetes/Docker 컨테이너 운영과 Jenkins/Rundeck을 통한 CI/CD 파이프라인 구축하였습니다.
            이런한 경험을 바탕으로 지속 노력하여 안정적이고 확장 가능한 시스템을 구축할 수 있는 개발자가 되겠습니다.
          </div>
        </div>
      </div>
    </section>

  <!-- Skills -->
  <section class="page-section" id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Skills</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>

      <!-- Languages -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Languages</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/java.jpg);"></div>
          </span>
          <h4 class="service-heading">JAVA</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/javascript.jpg);"></div>
          </span>
          <h4 class="service-heading">JavaScript</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/icons8-c-programming.jpg);"></div>
          </span>
          <h4 class="service-heading">C</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/python.jpg);"></div>
          </span>
          <h4 class="service-heading">Python</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/nodejs.jpg);"></div>
          </span>
          <h4 class="service-heading">Nodejs</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/android.jpg);"></div>
          </span>
          <h4 class="service-heading">Android</h4>
        </div>
        <div class="col-md-2" style="margin-top: 50px;">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/languages/solidity.png);"></div>
          </span>
          <h4 class="service-heading">Solidity</h4>
        </div>
        
        <!-- <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Security</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div> -->

      </div>

      <!-- Web Skills -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Web Skils</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/web-skills/html.jpg);"></div>
          </span>
          <h4 class="service-heading">HTML5</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/web-skills/css.png);"></div>
          </span>
          <h4 class="service-heading">CSS</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/web-skills/jQuery.png);"></div>
          </span>
          <h4 class="service-heading">JQuery</h4>
        </div>
      </div>

      <!-- Framework -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">FrameWork</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/framework/spring-framework.png);"></div>
          </span>
          <h4 class="service-heading">SpringFramework</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/framework/springboot.png);"></div>
          </span>
          <h4 class="service-heading">SpringBoot</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/framework/MSA.png);"></div>
          </span>
          <h4 class="service-heading">MSA</h4>
        </div>
        
      </div>

      <!-- Database -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Database</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/database/mysql.png);"></div>
          </span>
          <h4 class="service-heading">MySQL</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/database/oracle.png);"></div>
          </span>
          <h4 class="service-heading">Oracle</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/database/postgresql.png);"></div>
          </span>
          <h4 class="service-heading">PostgreSQL</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/database/cockroachDB.png);"></div>
          </span>
          <h4 class="service-heading">cockroachDB</h4>
        </div>
      </div>

      <!-- Operating System -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Operating System</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/operating/windows.png);"></div>
          </span>
          <h4 class="service-heading">Windows</h4>
        </div>

        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/operating/linux.png);"></div>
          </span>
          <h4 class="service-heading">Linux</h4>
        </div>
      </div>

      <!-- ETC -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">ETC</h3>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/Kubernetes.png);"></div>
          </span>
          <h4 class="service-heading">Kubernetes</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/Docker.png);"></div>
          </span>
          <h4 class="service-heading">Docker</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/github.png);"></div>
          </span>
          <h4 class="service-heading">Git</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/Bitbucket.png);"></div>
          </span>
          <h4 class="service-heading">Bitbucket</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/Jenkins.png);"></div>
          </span>
          <h4 class="service-heading">Jenkins</h4>
        </div>
        <div class="col-md-2">
          <span class="fa-stack fa-4x">
            <div class="Skill_image_container" style="background-image: url(/assets/img/skills/etc/Rundeck.png);"></div>
          </span>
          <h4 class="service-heading">Rundeck</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://plus.wish.com/" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/MASS.webp" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>MASS</h4>
            <p class="company">근무처 : 큐텐테크놀로지</p>
            <p class="name">개발기간 : 2023.05 ~ 2024.05 </p>
            <p class="task">큐텐, 티몬, 위메프 3사 이미지 서비스 통합<br>
              아키텍처 설계, AWS S3 연동, GCP 환경 개발, openCV 적용 
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://shop.interpark.com/malls/index.html" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/interpark_shopping.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Interpark Shopping</h4>
            <p class="company">근무처 : 인터파크</p>
            <p class="name">개발기간 : 2020.05 ~ 2023.05 </p>
            <p class="task">Backend API Development <br>
              & <br>
              Operation
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://seller.interpark.com" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/partner_platform.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Partner Platform</h4>
            <p class="company">근무처 : 인터파크</p>
            <p class="name">개발기간 : 2020.07 ~ 2021.01 </p>
            <p class="task">MSA 아키텍처 차세대 구축<br>
                Kubernetes/Docker 구축<br> 
                Rolling Update 무중단 배포 구축
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://cherry.charity/" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/cherry.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Cherry</h4>
            <p class="company">근무처 : E4net</p>
            <p class="name">개발기간 : 2019.01 ~ 2020.03 </p>
            <p class="task">블록체인 기부 플랫폼<br>
                MSA, Kubernetes, BaaS(Blockchain)
            </p>
            <p class="text-muted">Blockchain Donate Service</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://github.com/wnghks1357/MovingHair" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" style="min-width: 100%;" src="assets/img/portfolio/moving_hair.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Moving Hair</h4>
            <p class="text-muted">Reservation System</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://github.com/astroboi-SH-KWON/tourHanbit" target="_black">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/hanbit_tour.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Hanbit Tour</h4>
            <p class="text-muted">Shopping Mall</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://github.com/wnghks1357/MusicRanking" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/web_crawling.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Ryeombly App</h4>
            <p class="text-muted">Web Crawling App</p>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://github.com/wnghks1357/antman" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/antman.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Antman</h4>
            <p class="text-muted">Log Dashboard</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://github.com/wnghks1357/hyperledger-exploer" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/hyperledger_explorer.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Hyperledger Explorer</h4>
            <p class="text-muted">Blockchain Dashboard</p>
          </div>
        </div>
        
        
      </div>
    </div>
  </section>

  <!-- 대외 활동 Grid -->
  <section class="bg-light page-section activity" id="portfolio">
    <div class="container" id="activity">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Activity</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/PE.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>정보관리기술사</h4>
            <p class="text-muted">132회 기술사</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://medium.com/etherstudyresearch/devstamp-korea-blockchain-community-day-c2592c2ac215" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/devstamp.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Devstamp Speech</h4>
            <p class="text-muted">Blockchain Community Day</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="https://udc.upbit.com/" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/udc.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>UDC Mento</h4>
            <p class="text-muted">Hackerton Mento</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <!-- <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="">
            <h4>Kay Garland</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="">
            <h4>Larry Parker</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="">
            <h4>Diana Pertersen</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Contact -->
  <!--<section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h3 style="background-color: white; text-align: center;" class="rounded">Email : wnghks1357@naver.com</h2>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>-->

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; My Website 2020</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/js/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="assets/js/jqBootstrapValidation.js"></script>
  <script src="assets/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/agency.min.js"></script>

  <script>
    $(function(){
      var msg = "Developer 장주환의 포트폴리오 입니다.";
      var msgArr = msg.split("");
      
      var i = 0;  
      var repeat = setInterval(function(){
        $("#headerMsg").html($("#headerMsg").html() + msgArr[i]);
        i++;
        if(i >= msgArr.length){
          clearInterval(repeat);
        }
      },200);
     
      $(".Skill_image_container").hover(function(){
        
        $(this).parents(".col-md-2").find(".service-heading").show();

      }, function(){
        $(this).parents(".col-md-2").find(".service-heading").hide();
      })
      
      
    })
  </script>

</body>

</html>
