body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }

@media (max-width: 576px)
.Skill_image_container {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.Skill_image_container {
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 30px 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}

#skills{
  background-color: #e7e6e6;
}

.row.text-center .col-md-2 .service-heading {
  display: none;
  margin-top: 40px;
}

#skills .container .row .section-heading{
  margin-top: 60px;
  margin-bottom: 60px;
  float: left;
}

#portfolio .img-fluid{
  min-height: 200px;
  max-width: 350px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
}

#portfolio .portfolio-link{
  text-align: center;
}

