body {
    margin: 0;
    
  }

  @media (max-width: 576px) {
    .Skill_image_container {
        width: 100px;
        height: 100px;
    }
}

.Skill_image_container {
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 120px;
  max-width: 120px; /* 최대 너비를 설정 */
  max-height: 120px; /* 최대 높이를 설정 */
  border-radius: 30px 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* 이미지 중앙 배치 */
  margin-right: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}

#skills{
  background-color: #e7e6e6;
}

.row.text-center .col-md-2 .service-heading {
  display: none;
  margin-top: 40px;
}

#skills .container .row .section-heading{
  margin-top: 60px;
  margin-bottom: 60px;
  float: left;
}

#portfolio .img-fluid{
  min-height: 200px;
  max-width: 350px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
}

#portfolio .portfolio-link{
  text-align: center;
}

